#title {
  text-align: center; /* Optionally center the text horizontally */
  font-size: 36px; /* Set the desired font size */
  color: rgb(198, 15, 15); /* Set the desired font color */
  bottom: 0px;
  position: absolute;
}

body {
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
}

img {
  width: 100px;
  position: absolute;
  animation-fill-mode: forwards; /*so the ninjas dont clip back to og position aft the animations */
}

#score {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: antiquewhite;
  font-size: 26px;
}
#n1 {
  left: 36%;
  top: 38%;
}

#n2 {
  left: 22%;
  top: 22%;
}

#n3 {
  left: 1%;
  top: 63%;
  animation-name: ninja1;
  animation-duration: 7000ms;
}

#n4 {
  left: 80%;
  top: 37%;
}

@keyframes ninja1 {
  0% {
    left: 0%;
    top: 63%;
  }

  100% {
    left: 160%;
    top: 63%;
  }
}
