* {
  cursor: url("/assets/cursor.png"), auto;
}

#title {
  text-align: center;
  font-size: 36px;
  color: rgb(198, 15, 15);
  bottom: 0px;
  position: absolute;
}

body {
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
}

img {
  width: 120px;
  position: absolute;
  /* animation-fill-mode: forwards; so the ninjas dont clip back to og position aft the animations */
}

#score {
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: antiquewhite;
  font-size: 42px;
}
#lives {
  position: absolute;
  bottom: 90px;
  right: 22px;
  color: antiquewhite;
  font-size: 42px;
}
/* #n1 {
  left: 36%;
  top: 38%;
}

#n2 {
  animation-name: ninja1;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
}

#n3 {
  animation-name: ninja1;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
}

#n4 {
  left: 80%;
  top: 37%;
}

@keyframes ninja1 {
  0% {
    left: -20%;
    top: 63%;
  }

  100% {
    left: 130%;
    top: 63%;
  }
} */
